body{
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-size:20px;
	font-family: arial, sans-serif;
}
.difficultyContainer{
	position: absolute;
    top: 5%;
    height: 10%;
    cursor: pointer;
    line-height: 85px;
    text-align: center;
}
.difficultyLevel{
	display: inline-block;
	height: 100%;
	width: 33.33%;
}
.selected{
    position: absolute;
    border-radius: 50px;
    top: 0;
    height: 100%;
    left: 0;
    width: 33.33%;
    z-index: 3;
    background: #433;
    transition: left 0.3s linear;
    color:#fff;
}
.boardContainer{
	position: absolute;
	top:20%;
	border: 1px solid #cecece;
	border-radius: 5px;
	perspective:10000px;
	font-size: 0px;
}
.col{
	position: relative;
	display: inline-block;
	border:1px solid #cecece;
	text-align: center;
	overflow: hidden;
	font-size: 20px;
}
.col:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.input{
	width:100%;
	height:100%;
	outline: none;
	border: 0px solid #fff;
	font-size: 20px;
}

.puzzleSquare{
    position: absolute;
    transform:rotateY(180deg);
    background: #e1e1e1;
    backface-visibility: hidden;
    transition:all linear 0.7s;
    text-align: center;
    outline:none;
    border:0px solid;
}
.puzzleSquare:focus{
	border: 1px solid #5f00ff;
	/*outline:none;*/
}

.flatten{
	transform:rotateY(0deg);
	transform-style: preserve-3d;
}