:root{
	--font-size:25vw;
}

body{
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-size:20px;
	font-family: arial, sans-serif;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.difficultyContainer{
	position: absolute;
    top: 5%;
    height: 10%;
    cursor: pointer;
    line-height: 85px;
    text-align: center;
}
.difficultyLevel{
	display: inline-block;
	height: 100%;
	width: 33.33%;
}
.selected{
    position: absolute;
    border-radius: 50px;
    top: 0;
    height: 100%;
    left: 0;
    width: 33.33%;
    z-index: 3;
    background: #433;
    transition: left 0.3s linear;
    color:#fff;
}
.boardContainer{
	position: absolute;
	top:20%;
	border: 1px solid #cecece;
	border-radius: 5px;
	perspective:10000px;
	font-size: 0px;
}
.col{
	position: relative;
	display: inline-block;
	border:1px solid #cecece;
	text-align: center;
	overflow: hidden;
	font-size: 20px;
}
.col:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.input{
	width:100%;
	height:100%;
	outline: none;
	border: 0px solid #fff;
	font-size: 20px;
}

.puzzleSquare{
    position: absolute;
    transform:rotateY(180deg);
    background: #e1e1e1;
    backface-visibility: hidden;
    transition:all linear 0.7s;
    text-align: center;
    outline:none;
    border:0px solid;
}
.puzzleSquare:focus{
	border: 1px solid #5f00ff;
	/*outline:none;*/
}

.flatten{
	transform:rotateY(0deg);
	transform-style: preserve-3d;
}

#timer{
	position:absolute;
	bottom:5%;
	left:50%;
	right:50%;
}

.top{
	width:300px;
	height:300px;
	background:#cecece;

	transform-origin:bottom center;
	transform-style:preserve-3d;
	transform:perspective(500px);
	animation: 1s infinite top-flip linear;
	animation-fill-mode:forwards;
}
.bottom{
	
	width:300px;
	height:300px;
	background:#cecece;

	transform-origin:top center;
	transform-style:preserve-3d;
	transform:perspective(500px);
	animation: 1s infinite bottom-flip linear;
	animation-fill-mode:forwards;
}
@keyframes top-flip { 
	0%{
		background:#cecece;
	}
	100%{
		transform:rotateX(-180deg);
		background:#000;
	}
}


@keyframes bottom-flip { 
	0%{
		background:#fff;
		transform:rotateX(180deg);
	}
	100%{
		transform:rotateX(0deg);
		background:#cecece;
	}
}

.a-half {
	font-size:var(--font-size);
	line-height:var(--font-size);
	height:calc(var(--font-size) / 2);
	width:calc(var(--font-sze) / 2);
	overflow:hidden;
	margin: 0 0.5vw;
}

.rotation-basis{
	margin-top:calc(var(--font-size) / 2 * -1);
	height:calc(var(--font-size)/2);
	display:flex;
	transform:perspective(500px);
	transform-style:preserve-3d;
}
.rotating-half-front-side{
	transform-origin:bottom center;
	backface-visibility:hidden;
	animation:rotating-half-front-side-rotation 700ms linear;
	animation-fill-mode:forwards;
}

.rotating-half-back-side{
	transform-origin: top center;
	margin-top:calc(var(--font-size) / 2);
	backface-visibility:hidden;
	animation:rotating-half-back-side-rotation 700ms linear;
	animation-fill-mode:forwards;
}

.number-upper-half{
	border-top-right-radius: 2vw;
	border-top-left-radius: 2vw;
	background-color: grey;
}

.number-lower-half{
	border-bottom-right-radius: 2vw;
	border-bottom-left-radius: 2vw;
	background-color:grey;
	margin-top:calc(var(--font-size) / 2 * -1); 
}

.rotating-half-front-side .number-upper-half{
	animation:rotating-half-front-side-shade 700ms linear;
	animation-fill-mode:forwards;
}

.rotating-half-back-side .number-lower-half {
	animation:rotating-half-back-side-shade 700ms linear;
	animation-fill-mode:forwards;
}

@keyframes rotating-half-front-side-rotation {
	0%{ transform: rotateX(0deg); }
	100%{ transform:rotateX(-180deg);}
}

@keyframes rotating-half-back-side-rotation {
	0%{ transform:rotateX(180deg);}
	100%{transform:rotateX(0deg);}
}

@keyframes rotating-half-front-side-shade{
	0%{background-color grey; }
	100% { background-color:black}
}


@keyframes rotating-half-back-side-shade{
	0%{background-color white; }
	100% { background-color:grey;}
}
